<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Municipality Records</title>  
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Municipality Type</th>  
        <th>Municipality Properties</th>  
        <th>Municipality Geometry</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for municipality in municipalities %}  
    <tr>  
        <td>{{ municipality.type }}</td>  
        <td>{{ municipality.properties }}</td>  
        <td>{{ municipality.geometry }}</td>  
        <td>  
            <a href="/edit/{{ municipality.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ municipality.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  